.filters-container {
    height: 200px;
    background-color: #356aa1;
}

.filter-h6 {
    margin: 0;
    color: white;
    text-align: end;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    padding-left: 300px;
    padding-top: 80px;
}

.tops-filter{
    padding-left: 330px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}