h6 {
    border-bottom: 1px solid  #ffe000;
    width: 25%;
}

.release-detail-container{
    height: 453px;
    color: white;
    /* font-family: 'Merriweather'; */
}

.release-detail-left {
    width: 50%;
    padding: 5% 0 0 190px;
    text-align: left;
}

.release-synopsis {
    width: 55%;
    margin-top: 10px;
}

.release-score{
    padding: 15px 0;
    display: flex;
}