h6 {
    border-bottom: 1px solid #ffe000;
    width: 25%;
    margin-bottom: 0;
}

h1 {
    font-weight: bold;
    margin: 6px 0;
    font-family: Rubik;
    font-size: 60px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}

.release-detail-container {
    height: 512px;
    color: white;
}

.release-detail__padding {
    padding: 5% 0 0 315px;
}

.release-detail__text {
    text-align: left;
    position: relative;
}

.release-synopsis {
    width: 55%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.27px;
    color: #ffffff;
}

.release-user-score {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.release-user-score__font {
    font-size: 14.4px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.24px;
    color: #ffffff;
    font-family: 'Karla';
}

.release-stats__font {
    font-family: Karla;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    color: #e8eaff;
}

.release-overview {
    font-family: Karla;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.27px;
    color: #ffffff;
}