footer {
    font-family: 'Karla';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.27px;
    text-align: center;
    color: #f0bd22;
    height: 80px;
}