.muvizIcon {
    color:#ffe000;
    font-family: FiraSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 9.4px;
    text-align: left;
    text-decoration: none;
    padding-right: 33%;
  }

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0 16.5%;
    height: 56px;
    align-items: center;
}

.material-icons.md-dark { color: white; }

.material-icons.orange600 { color: #FB8C00; }

input {
    font-family: 'FiraSans';
    min-width: 203px;
}

.header-searchForm__display {
    display: flex;
}