a {
    color:#ffe000;
    font-family: FiraSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 9.4px;
    text-align: left;
    padding-left: 20%;
    text-decoration: none;
  }

.header-container{
    display: flex;
    align-content: space-between;
    height: 56px;
    align-items: center;
}

.header-options-container{
    width: 50%;
}

.material-icons.md-dark { color: white; }

.material-icons.orange600 { color: #FB8C00; }

input {
    font-family: 'FiraSans';
    min-width: 203px;
}

.muviz-anchor-container {
    width: 50%;
    text-align: left;
}

.options-padding {
    padding: 10%;
}