.App {
    text-align: center;
    background-color: #000;
    font-family: 'Rubik';
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.movie-title {
    font-family: 'Rubik-Bold';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    color: #ffffff;
    text-transform: capitalize;
    padding-bottom: 2px;
    margin-top: 10px;
}

.section-heading {
    color: white;
    padding: 12px;
    text-align: left;
    margin-left: 190px;
    border-left: solid 9px #479aef;
    height: 28px;
    margin-bottom: 30px;
}

.section-heading__font {
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    font-family: 'Rubik-Bold';
}

.movie-element__opacity::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.80);
}

.half-movie-element__opacity::before {
    height: 453px;
    margin-top: 56px;
}

.movie-rating-icon {
    margin-right: 16px;
}

.movie-rating-tspan {
    stroke: #ffe000;
}

.button__opacity::before {
    opacity: 0.85;
    height: 52%;
    margin-top: 49%;
    border-radius: 2px;
}

.m0 {
    margin: 0;
}

.m-l3 {
    margin-left: 3px;
}

.p-t20 {
    padding-top: 20px;
}

h6 {
    border-bottom: 4px solid #479aef;
    margin: 0;
    width: 100px;
}

h1 {
    margin: 6px 0;
    font-family: 'Rubik-Bold';
    font-size: 60px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
}